<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add Bill</title>
</head>
<body>
<h1>Add Your Bill</h1>
<form method="post" action="/bills/add">
    <input type="text" name="billName">
    <input type="submit" value="Add Bill">

</form>

<!--<form method="post">-->

<!--    <div class="form-group" action="/bills/add">-->
<!--        <label th:for="billName">Bill name:</label>-->
<!--        <input type="text" th:field="${billName}" placeholder="string" />-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label>Due date:</label>-->
<!--        <input type="date" th:field="${dueDate}" placeholder="MM-dd-yyyy" />-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label>Bill amount:</label>-->
<!--        <input type="number" th:field="${billAmount}" placeholder="float" />-->
<!--    </div>-->

<!--    <input type="submit" value="Add Bill"/>-->
<!--</form>-->
</body>
</html>