<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org/">
<!--    <link th:href=“@{/css/bootstrap.css}” rel=“stylesheet” />-->
<!--    <link th:href=“@{/css/KBudget.css}” rel=“stylesheet” />-->
<!--    <script type=“text/javascript” th:src=“@{/js/bootstrap.js}“></script>-->

<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: site-header"></header>

<h1 th:text="${title}"></h1>

<!--<p class="error" th:text="${errorMsg}"></p>-->
<!--<form method="post" action="/bills/add">-->
<!--    <input type="text" name="billName">-->
<!--    <input type="submit" value="Add Bill">-->

<!--    -->
<!--</form>-->

<form method="post" action="/bills/create">

    <div class="form-group">
        <label>Bill name:
        <input type="text" th:field="${bill.billName}" placeholder="name" />
            <span th:errors="${bill.billName}" class="error"></span>
        </label>

    </div>

    <div class="form-group">
        <label>Due date:
        <input type="date" th:field="${bill.dueDate}" placeholder="yyyy-MM-dd" />
            <span th:errors="${bill.dueDate}" class="error"></span>
        </label>

    </div>

    <div class="form-group">
        <label>Bill amount:
        <input type="number" step="any" th:field="${bill.billAmount}" placeholder="Amount" />
            <span th:errors="${bill.billAmount}" class="error"></span>
        </label>

    </div>

    <input type="submit" value="Create Bill"/>
</form>
</body>
</html>