<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: site-header"></header>


<form method="post" action="/bills/create">

    <input type="hidden" th:value="${bill.id}" name="billId" />

    <div class="form-group">
        <label>Bill name:
        <input type="text" th:field="${bill.billName}" placeholder="name" />
            <span th:errors="${bill.billName}" class="error"></span>
        </label>

    </div>

    <div class="form-group">
        <label>Due date:
        <input type="date" th:field="${bill.dueDate}" placeholder="yyyy-MM-dd" />
            <span th:errors="${bill.dueDate}" class="error"></span>
        </label>

    </div>

    <div class="form-group">
        <label>Bill amount:
        <input type="number" step="any" th:field="${bill.billAmount}" placeholder="Amount" />
            <span th:errors="${bill.billAmount}" class="error"></span>
        </label>

    </div>

    <input type="submit" value="Create Bill"/>


</form>
</body>
</html>