<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Bill: ' + bill.billName}">Default Title</h1>

<form method="post" action="/bills/edit">

<input type="hidden" th:value="${bill.id}" name="billId" />

        <div class="form-group">
            <label>Bill name:
                <input type="text" th:field="${bill.billName}" placeholder="name" />
            </label>
        </div>

        <div class="form-group">
            <label>Due date:
                <input type="date" th:field="${bill.dueDate}" placeholder="MM-dd-yyyy" />
            </label>
        </div>

        <div class="form-group">
            <label>Bill amount:
                <input type="number" step="any" th:field="${bill.billAmount}" placeholder="Amount" />
            </label>
        </div>
<div class="job-listing">
    <p th:text="${'Previous name: ' + bill.billName}"></p>
    <p th:text="${'Previous Bill Amount: ' + bill.billAmount}"></p>
    <p th:text="${'Previous Due Date: ' + bill.dueDate}">
    </p>
</div>


    <input type="submit" value="Update Bill" class="btn btn-success">

</form>
</body>
</html>