<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: site-header"></header>
<h1 th:text="${title}"></h1>

<div align="center">
    <p style="color:red" th:unless="${bill} and ${bill.size()}">No Bills Have been Added!</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Bill Amount</th>
                <th>Bill Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="bill : ${bill}">
                <td th:text="${bill.billName}"></td>
                <td th:text="${bill.billAmount}"></td>
                <td th:text="${bill.dueDate}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>