<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head"></head>

<body class="container">

<header th:replace="fragments :: site-header"></header>




<div class="container body-content" align="center">
    <h1 th:text="${title}"></h1>
    <p th:unless="${income} and ${income.size()}">No Income Added!</p>
<!--    <ul>-->
<!--        <th:block th:each="income : ${incomes}">-->
<!--            <li th:each="income : ${incomes}" th:text="${income}"></li>-->
<!--        </th:block>-->
<!--    </ul>-->
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Pay Amount</th>
<!--            <th>Pay Date</th>-->
        </tr>
        <tr th:each="income : ${income}">
            <td><a th:text="${income.name}" th:href="@{/incomes/add/(incomeId=${income.id})}"></a></td>
            <td th:text="${income.payAmount}"></td>
<!--            <td th:text="${income.payDate}"></td>-->
        </tr>
    </table>
</div>

</body>
</html>

