<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Add income</title>
</head>
<body>

<p th:unless="${income} and ${income.size()}">No Income Added!</p>

<div align="center">
    <h1 th:text="${title}"></h1>

    <ul>
        <li th:each="income : ${incomes}">
            <li th:text="${incomes}"></li>
        </li>
    </ul>

    <h2><a href="/incomes/add">+ Income</a></h2>
</div>

</body>
</html>

