<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>KBudget</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

</head>
<body>

<header th:fragment="site-header">

    <h1 th:text="${title}">My Budget</h1>

    <nav>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/bills">All Bills</a></li>
            <li class="nav-item"><a class="nav-link" href="/bills/create">New Bill</a></li>
            <li class="nav-item"><a class="nav-link" href="/bills/delete">Delete Bill</a></li>
            <li class="nav-item"><a class="nav-link" href="/incomes">All Income</a></li>
            <li class="nav-item"><a class="nav-link" href="/incomes/add">New Income</a></li>
            <li class="nav-item"><a class="nav-link" href="/incomes/delete">Delete Income</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </nav>

</header>

</body>
</html>